
@{
    ViewBag.Title = "Index";
}

<body>
    <div>

        <div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("View Events", "ViewEvents", "Organizer")</li>
                    <li>@Html.ActionLink("Create Events", "CreateEvent", "Organizer")</li>
                    <li>@Html.ActionLink("View Volunteers", "ViewVolunteer", "Organizer")</li>
                    <li>@Html.ActionLink("View Requests", "ViewOrganizer", "Organizer")</li>
                    <li>@Html.ActionLink("Logoff", "Logoff", "Organizer")</li>
                </ul>
            </div>
        </div>

    </div>
</body>

